nav{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div ul {
    display: flex;
    gap:20px;
    list-style: none;
   

}
nav div ul li a, nav div{
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.list-div{
  margin-right: 40px;
}
.logo{
    margin-left: 40px;
}