.img-container{
        height: 150px;
        width: 100%;
}
.img-container img {
    height: 100%;
}
.card{
    height: 260px;
    width: 250px;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.card-holder{
    padding: 20px;
  display: flex;
  gap:50px;
  flex-wrap: wrap;
}
.contact{
    margin: 0;
}